<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="${list}" ></div>
    <div th:text="${dto}" ></div>
    <div th:text="${map}" ></div>

    <script th:inline="javascript">
        const list = [[${list}]]
        let dto = [[${dto}]]
        var map = [[${map}]]

        console.log(list)
        console.log(dto)
        console.log(map)

        alert(list);
        alert(dto);
        alert(map);

    </script>

</body>
</html>