<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">게 시 판</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    게시판
                </div>
                <a class="btn btn-default " href="/board/register">등록</a>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="dataTables-example_length">

                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div id="dataTables-example_filter" class="dataTables_filter">
                                    <form action="/board/list" method="get">
                                        <input type="text" name="size" th:value="${pageRequestDTO.size}">

                                        <select name="type" aria-controls="dataTables-example" class="form-control input-sm">
                                            <option value="">--</option>
                                            <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                                            <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                                            <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                                            <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                                            <option value="tw" th:selected="${pageRequestDTO.type == 'tw'}">제목 + 작성자</option>
                                            <option value="twc" th:selected="${pageRequestDTO.type == 'twc'}">제목 + 내용 + 작성자</option>
                                        </select>

                                        <label>Search:
                                            <input type="search" name="keyword" th:value="${pageRequestDTO.keyword}" class="form-control input-sm" placeholder="" aria-controls="dataTables-example">
                                        </label>
                                        <button type="submit" class="btn btn-default searchBtn">검색</button>
                                        <button type="button" class="btn btn-default clearBtn">Clear</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example1" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sortingg" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 40px;">글번호</th>
                                            <th class="sortingg" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 197.667px;">제목</th>
                                            <th class="sorting_ascg" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column descending" style="width: 181.667px;" aria-sort="ascending">작성자</th>
                                            <th class="sortingg" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 140.667px;">글등록일자</th>
                                        </tr>
                                    </thead>
                                    <tbody th:with="link = ${pageRequestDTO.getLink()}">
                                        <tr class="gradeU odd" role="row" th:each="dto: ${pageResponseDTO.dtoList}">
                                            <td class="">[[${dto.bno}]]</td>
                                            <td class="">
                                                <a th:href="|@{/board/read(bno=${dto.bno})}&${link}|">[[${dto.title}]]</a>
                                            </td>
                                            <td class="sorting_1">[[${dto.writer}]]</td>
                                            <td class="center">
                                                [[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--페이징-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">
                                        <li th:if="${pageResponseDTO.prev}" class="paginate_button previous " aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                            <a th:data-num="${pageResponseDTO.start -1}">Previous</a>
                                        </li>
                                        <!--thymeleaf에는 순서를 표기하는 #numbers.sequence(시작, 끝) 가 있다.-->
                                        <th:block th:each="i: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                            <li th:class="${pageResponseDTO.page == i} ? 'paginate_button active':'paginate_button'" aria-controls="dataTables-example" tabindex="0">
                                                <a th:data-num="${i}">[[${i}]]</a>
                                            </li>
                                        </th:block>

                                        <li th:if="${pageResponseDTO.next}" class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                            <a th:data-num="${pageResponseDTO.end +1}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


</div>

<script layout:fragment="script" th:inline="javascript">
    const result = [[${result}]]

    if(result){
        alert(result+"번글이 등록되었습니다.")
    }




    // 페이지 이동
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();
        let target = e.target;

        if(target.tagName !== 'A'){
            return;
        }
        let num = target.getAttribute("data-num");
        //console.log(num);
        let formObj = document.querySelector("form");

        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

        formObj.submit();
    });

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        self.location = '/board/list';
    });

</script>


</body>
</html>