<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">수정페이지</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                수정사항을 수정해주세요
                </div>
                <div class="panel-body">
                    <form th:action="@{/board/modify}" method="post" enctype="multipart/form-data">
                    <div class="form-group has-success">
                        <label   class="control-label" for="bno" >글번호</label>
                        <input name="bno" type="text" readonly th:value="${dto.bno}" class="form-control"  id="bno" >
                    </div>
                    <div class="form-group has-success">
                        <label   class="control-label" for="title" >제 목</label>
                        <input name="title" type="text"  th:value="${dto.title}" class="form-control"  id="title"  placeholder="최소3글자 이상 작성해주세요">
                    </div>
                    <div class="form-group">
                        <label   class="control-label" for="title">내 용</label>
                        <textarea class="form-control" name="content" rows="3" >[[${dto.content}]]</textarea>
                    </div>

                    <div class="form-group has-error">
                        <label class="control-label" for="writer">작성자</label>
                        <input name="writer" readonly type="text" th:value="${dto.writer}" class="form-control" id="writer"  placeholder="이름은요??">
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="writer">등록일자</label>
                        <input name="writer" readonly type="text" th:value="${dto.regDate}" class="form-control"   placeholder="이름은요??">
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="writer">수정일자</label>
                        <input name="writer" readonly type="text" th:value="${dto.modDate}" class="form-control"   placeholder="이름은요??">
                    </div>

                        <!--input pagerepuest 정보 추가할것-->
<!--                    <input name="keyword" type="hidden" th:value="${pageRequestDTO.keyword}">-->
<!--                    <input name="size" type="hidden" th:value="${pageRequestDTO.size}">-->
<!--                    <input name="page" type="hidden" th:value="${pageRequestDTO.page}">-->
<!--                    <input name="type" type="hidden" th:value="${pageRequestDTO.type}">-->

                        <div class="col-lg-4 image-container" th:if="${not #lists.isEmpty(imgdto)}" th:each="img, status:${imgdto}">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    [[${img.oriImgName}]]
                                    <button type="button" class="deleteBtn">삭제</button>
                                </div>
                                <div class="panel-body">
                                    <img th:data-num="${img.ino}" th:src="@{|/images/@{${#temporals.format(img.regDate, 'yyMMdd')}}/@{${img.imName}}|}" class="rounded float" alt="사진" width="300px" height="200px">
                                    <input type="text" class="ino" name="ino" value="">
                                </div>
                                <div class="panel-footer">
                                    Panel Footer
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group container" th:each="num:${#numbers.sequence(1,5)}">
                            <label>파일 업로드</label>
                            <input type="file" name="boardImgFile">
                        </div>

                    <button type="submit" class="btn btn-default modifyBtn">저장</button>
                    <button type="submit" class="btn btn-default removeBtn">삭제</button>
                    <a th:href="|@{/board/list}?${pageRequestDTO.getLink()}|" class="btn btn-default">
                        목록
                    </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("form");

    document.querySelector(".modifyBtn").addEventListener("click", function (e) {
       e.preventDefault();
       e.stopPropagation();
       formObj.action = `/board/modify?${link}`;
       formObj.method = "post";
       formObj.submit();
    });
    document.querySelector(".removeBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        formObj.action = `/board/remove`;
        formObj.method = "post";
        formObj.submit();
    });

    $('.deleteBtn').on('click', function() {
        var imageContainer = $(this).closest('.image-container');
        var inoInput = imageContainer.find('.ino');
        var dataNumValue = imageContainer.find('img').attr('data-num');
        inoInput.val(dataNumValue);

        //imageContainer.find('img, .imgDelete-button').hide();
        $(this).closest('.image-container').hide();
    });



    // document.querySelector(".listBtn").addEventListener("click", function (e) {
    //     e.preventDefault();
    //
    //     let link = [[${pageRequestDTO.getLink()}]];
    //
    //     self.location = `/board/list?${link}`;
    // });



</script>



</body>
</html>